*{
    background-color: black;
    color: aliceblue;
}

h1{
    text-align: center;
    color: 	#99ff33;
}

.head{
    height: auto;
    width: auto;
    background-color: black;
}

.buttons{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    color: black;
}
.buttons:hover{
    transform: scale(1.1);
}

.button-layout{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
}

#score{
    display: flex;
    align-items:center;
    flex-direction: column;
    height: 150px;
    width: 150px;
    border: 2px solid #99ff33;

}

#compScore{
    display: flex;
    align-items:center;
    flex-direction: column;
    height: 150px;
    width: 150px;
    border: 2px solid #99ff33;

}

#tries{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: space-around;
    height: 150px;
    width: 150px;
    border: 2px solid #99ff33;
}

.scoreCard{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

#re{
   height: 50px;
   width: 100px;
   text-align: center;
   border: 2px solid #99ff33;
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   right: 0px;
   transition: all 0.3s ease;
}

#re:hover{
    transform: scale(1.1);
}

img{
    height: 300px;
    width: 300px;
}