*{
    background-color: black;
    color: aliceblue;
}

h1{
    text-align: center;
    color: 	#99ff33;
    background-color: aliceblue;
}

.head{
    height: 150px;
    width: auto;
    background-color: black;
}

.buttons{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;

}

.button-layout{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#score{
    display: flex;
    align-items:start;
    justify-content: center;
    align-content: space-around;
    height: 150px;
    width: 150px;
    border: 2px solid #99ff33;

}

#tries{
    display: flex;
    align-items: start;
    justify-content: center;
    align-content: space-around;
    height: 150px;
    width: 150px;
    border: 2px solid #99ff33;
}

.scoreCard{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

#re{
   height: 50px;
   width: 100px;
   text-align: center;
   border: 2px solid #99ff33;
   display: flex;
   align-items: center;
   justify-content: center;
}

